@mixin image-search-ai-image-uploader($name: '.image-uploader') {
    #{$name} {
        &.is-loading & {
            &__spinner {
                display: block;
            }

            &__image-wrapper::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $setting-color-white;
                opacity: 0.5;
            }
        }

        &.is-empty & {
            &__service-message {
                display: block;
            }
        }

        &.is-error & {
            &__error {
                display: block;
            }
        }

        &__spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50%;
        }

        &__error,
        &__spinner,
        &__service-message {
            display: none;
        }

        @content;
    }
}

@include image-search-ai-image-uploader;
