@mixin shop-ui-search-by-image($name: '.search-by-image') {
    #{$name} {
        &__dialog {
            @include helper-breakpoint-media-max(lg) {
                width: 100%;
                height: 100%;
                border: none;
                padding: 0;
                margin: 0;
                max-width: none;
                max-height: none;
            }

            @include helper-breakpoint(lg) {
                margin: auto;
                box-shadow: 0 rem(4) rem(12) 0 #12121226;
                border-radius: rem(12);
                width: rem(900);
                max-width: 98%;

                &::backdrop {
                    background: rgb(0 0 0 / 30%);
                }
            }
        }

        &__wrapper {
            background: $setting-color-white;
            border-radius: rem(12);
            padding: rem(19);
        }

        &__heading {
            position: relative;
            padding: 0 rem(55);
            text-align: center;
            margin-bottom: rem(30);
        }

        &__title {
            font-size: rem(16);
            line-height: 1.5;

            @include helper-breakpoint(lg) {
                font-size: rem(24);
            }
        }

        &__close-button {
            position: absolute;
            right: rem(7);
            top: rem(3);
            background: none;
            cursor: pointer;
            color: var(--gray-12);
        }

        &__grid {
            display: flex;
            gap: rem(16);
            width: 100%;
        }

        &__col {
            flex-grow: 1;
            text-align: center;
        }

        &__file-input-button {
            @include helper-breakpoint-media-max(lg) {
                width: 100%;
            }
        }

        &__close-icon {
            pointer-events: none;
        }

        &__form {
            border: rem(1) dashed var(--gray-6);
            border-radius: rem(8);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: rem(11) rem(11) rem(113);
        }

        &__info {
            font-size: rem(16);
            line-height: 1.5;
            color: var(--gray-9);
            margin-bottom: rem(32);

            @include helper-breakpoint(lg) {
                font-size: rem(21);
            }
        }

        &__image-wrapper {
            display: flex;
            height: rem(153);
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            margin-bottom: rem(14);
        }

        &__file-input-wrapper {
            @include helper-breakpoint-media-max(lg) {
                width: 100%;
            }
            display: inline-block;
            vertical-align: top;
            position: relative;
            overflow: clip;
        }

        &__file-input {
            position: absolute;
            top: 0;
            right: 0;
            width: rem(999);
            height: rem(999);
            opacity: 0;
            font-size: rem(200);
            cursor: pointer;
        }

        &__image-placeholder {
            max-width: rem(100);
            max-height: rem(100);
            vertical-align: top;
        }

        &__loading-frame {
            position: relative;
            overflow: clip;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(to top, rgb(255 255 255 / 0%), rgb(255 255 255 / 100%));
                display: none;
            }

            &--active {
                &::after {
                    display: block;
                    animation: loading 1s linear infinite;
                }
            }
        }

        &__service-message {
            text-align: center;
            padding: rem(10) 0;
            color: var(--red-9);
        }

        @content;
    }
}

@keyframes loading {
    0% {
        translate: 0 200%;
    }

    100% {
        translate: 0 -100%;
    }
}

@include shop-ui-search-by-image;
